<h1>Welcome to Self Manager</h1>
<h2>You can find here our programm for time managment</h2>
<ul>
    <h3>It is</h3>
    <li><h4>Very easy to use</h4></li>
    <li><h4>Has a lot of examples</h4></li>
    <li><h4>Cool</h4></li>
</ul>
