<h2>TODOs</h2>
<a href="#/todos/add">Add new</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>TODO</th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td><a href="#/todos?category={{category}}">{{category}}</a></td>
      <td>{{text}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
