CSSHomeworks/CSSLayoutHomework/02.MusicCategories/images/Thumbs.db
CSSHomeworks/CSSLayoutHomework/06.NewsSite/images/Thumbs.db
CSSHomeworks/CSSPresentationHomework/02.ForumPosts/images/Thumbs.db
HTMLHomeworks/HTMLFormsAndFrames/03.NotebookStore/Thumbs.db
HTMLHomeworks/HTMLFormsAndFrames/04.GridComponent/images/Thumbs.db
*.json
JavaScriptUI&DOMHomeworks/jQuery Plugins/tasks/task-2/result/Thumbs.db
JavaScriptUI&DOMHomeworks/jQuery Plugins/tasks/task-2/imgs/Thumbs.db
JavaScriptUI&DOMHomeworks/jQuery Plugins/task-2/imgs/Thumbs.db
JavaScriptUI&DOMHomeworks/jQuery Plugins/task-2/result/Thumbs.db