<div class="gallery row">
    <aside class="search col-md-2 position-fixed">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search by Artist or Title">
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Style</a></li>
            <li role="presentation"><a href="#">Abstract Art</a></li>
            <li role="presentation"><a href="#">Landscape Art</a></li>
            <li role="presentation"><a href="#">Realism</a></li>
            <li role="presentation"><a href="#">Other</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Subject</a></li>
            <li role="presentation"><a href="#">Animals</a></li>
            <li role="presentation"><a href="#">Flora</a></li>
            <li role="presentation"><a href="#">Landscape</a></li>
            <li role="presentation"><a href="#">Seascape</a></li>
            <li role="presentation"><a href="#">Other</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Medium</a></li>
            <li role="presentation"><a href="#">Oil Painting</a></li>
            <li role="presentation"><a href="#">Acrilic Painting</a></li>
            <li role="presentation"><a href="#">Watercolor Painting</a></li>
            <li role="presentation"><a href="#">Other Media</a></li>
        </ul>
    </aside>
    <div class="row col-md-8 col-md-offset-2">
        {{#if paintings.length}}
                <div>

        </div>
        <ul class="galleryItems list-group ">
            {{#each paintings}}
            <li class="itemGallery list-group-item col-md-2">
                <img class="img-thumbnail by-artist" src="{{image._downloadURL}}">
                <h4><strong>{{title}}</strong></h4>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <div>No paintings available</div>
    {{/if}}
</div>