<div id="main-view">
    <div class="container">
        <div id="main-title">
            <h1>Welcome</h1>
            <h1>to E-Gallery</h1>
            <h3>See Our New Paintings</h3>
        </div>
    </div>
</div>