table{
    border: 1px solid #D2D8E6;
    border-spacing: 0;
    border-radius: 10px;
}

th, td{
    border: 1px solid #D2D8E6; 
    text-align: left; 
    font-weight: normal;
    padding: 5px 50px 5px 5px;
}

thead{
    background-color: #E7E9EB;
}

thead tr:nth-child(2){
background: #f7f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f8f9 0, #dfe3e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7f8f9 0,#dfe3e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7f8f9 0,#dfe3e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8f9', endColorstr='#dfe3e8',GradientType=0 ); /* IE6-9 */
}

tfoot{
background: #f7f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f8f9 0, #dfe3e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7f8f9 0,#dfe3e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7f8f9 0,#dfe3e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8f9', endColorstr='#dfe3e8',GradientType=0 ); /* IE6-9 */
}

#last{
    float: right;
}

img, a, span, input{
    padding-left: 5px;
    vertical-align: middle;
}

a{ 
text-decoration: none;
color: #000;
}

a:first-of-type{
    border: 1px solid red;
    border-radius: 3px;
}

input[type=text], input[type=number]{
    height:20px;
    width: 100px;
}

#productid{
    width: 30px;
}

#product-name{
    width: 180px;
}

input[type=checkbox] {
    width:18px; 
    height:18px;
}


