body{
    font-family: Constantia, 'Times New Roman', Times, serif;
}

#wrapper{
    border: 2px solid #000;
    border-radius: 10px;
}

#inner{
    border: 1px solid #000;
}

#inner td{
    height: 30px;
}

th, td {
    border: none;
}

.bottom{
    vertical-align: bottom;
}

th{
    border-bottom: 2px solid #000;
}

img{
    width: 100px;
    height: 70px;
}

a{
    font-weight: bold;
    font-size: 20px;
    color: #0FB2F0;
}

legend{
    text-align: center;
}

div{
    text-align: center;
    font-size: 22px;
    padding: 10px;
}

input{
    padding: 10px;
}
